.container{
}

.luckyNumbers{
    padding: 20px;
    background-color: rgba(11,0,7,.621);
    border: 10px solid rgb(255, 255, 255);

}

.numberButton {
    background-color: rgb(4, 198, 139); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
  
.numberButton:hover {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(4, 198, 139);
}

.results{
    margin-top: 50px;
  }

.buttons{
    margin-top: 20px;
    width: 100%;
    border: none;
}
.submitButton{
    padding: 10px;
    background-color: rgb(169, 57, 255);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.submitButton:hover {
    background-color: white;
    color: rgb(169, 57, 255);
}

.buttons input {
    padding: 10px;
    border-radius: 4px;
    border: none;
}