.raffleForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(11, 0, 7, 0.621);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.raffleForm label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.raffleForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    padding: 10px;
    background-color: rgb(169, 57, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: white;
    color: rgb(169, 57, 255);
}

.form{
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.prizesTable{
    width: 100%;
    padding: 20px;
    background-color: rgba(11,0,7,.621);
    border: 10px solid rgb(255, 255, 255);
}

.prizesButtons {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center; 
  }

.drawWinner{
    background-color: rgb(4, 198, 139) ;
}

.drawWinner:hover{
    color: rgb(4, 198, 101) ;
}

.deleteEntry{
    background-color: rgb(245, 26, 26) ;
}

.deleteEntry:hover{
    color: rgb(245, 26, 26) ;
}

.prizeEmails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    padding: 20px;
    background-color: rgba(11, 0, 7, 0.449);
}


.prizeForm tr:hover {
    background-color: #f007c5d6;
}


.prizeEmails input{
    border: 1px solid #ccc;
    border-radius: 4px;
}